.product_box {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    opacity: 1;

    .img_box {
        background-color: #FFFFFF;
        font-size: 16px;

        span {
            color: #AA9575;
        }
    }

    .pickup_details {
        h2 {
            font-size: 1.25rem
        }

        h1 {
            font-size: 1.5rem
        }

        span {
            color: #777D85;
        }
    }
}

.request {
    font-size: 1.125rem;

    a {
        background: #192537 0% 0% no-repeat padding-box;
        opacity: 1;
        color: #FFFFFF;
    }
}