.details_exchange{
    h1, h2{
        font-size: 24px;
    }

    h1{
        font-weight: 700;
    }

    h3, h4{
        font-size: 18px;
        margin-top: 1.5rem;
    }

    h3{
        color: #777D85;
    }

    span{
        font-size: 14px;
        color: #A18A66;
        margin-top: 1.5rem
    }

    p{
        font-style: italic;
        margin-top: 3.5rem
    }
}