$officailBlue:#192537;
$fontGray:#777D85;
$firstBGColor:#F9F9F9;
$secBG:#FCFCFC;
$RingBanner: #24303F;


$fontWhite:#FFFFFF;
$Golden:#A18A66;




$darkblack:#192537;
$white:#FFFFFF;
$white08:#00000008;
$gray:#777D85;
$black:#000000;
$whiteF5:#F5F5F6;
$whiteF9:#F9F9F9;
$whiteF2:#F2F2F2;
$gold:#A18A66;
$green:#25A206;
$gray70:#707070;
$whiteF3: #F3F3F3;