.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(25, 37, 55, 0.3);
    cursor: pointer;
}

.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background: rgba(25, 37, 55, 0.1) 0% 0% no-repeat padding-box;
    background-color: white;
    color: #192537;
    z-index: 999;
}