.product-scrolbar::-webkit-scrollbar {
    display: none;
}

.product-detail::-webkit-scrollbar {
    display: none;
}

.product-detail {
    height: 80vh;
    overflow: auto;

    .product-detail-right {
        width: 70%;
        padding: 26px 0;

        .prodtuct-detail-nav ul {
            display: flex;
            gap: 10px;

            li {
                font-size: 16px;
                color: $gray;
            }

            li:last-child {
                color: $darkblack;
            }
        }

        span {
            color: $gold;
            font-size: 16px;
            margin-top: 30px;
        }

        .product-detail-added {
            h1 {
                font-size: 30px;
                color: $darkblack;
                text-transform: capitalize;
                font-weight: bold;
                font-family: 'Josefin Sans', sans-serif;
                font-family: 'Montserrat', sans-serif;
                font-family: 'Nunito', sans-serif;
                font-family: 'Playfair Display', serif;
            }
        }

        .product-detail-para {
            p {
                font-size: 18px;
                font-weight: 300;
                color: $darkblack;
            }
        }

        .product-detail-price {
            h2 {
                font-size: 26px;
                color: $darkblack;
            }

            p {
                font-size: 16px;
                color: $darkblack;
            }
        }

        .product-detail-start-icon {
            span {
                color: $gold;
                font-size: 18px;
                margin-top: 0;
            }
        }
       
            .product-detail-hover {
                position: relative;
                padding: 10px 6px;
                border-bottom: 1px solid rgba(119, 125, 133, 0.3);
                h3 {
                    font-size: 18px;
                    color: $darkblack;
                }
                span{
                    color: $darkblack;
                    position: absolute;
                    top: -15px;
                    right: 10px;
                }
            }
    
            .product-detail-hover:first-child {
                border-top: 1px solid rgba(119, 125, 133, 0.3);
                padding: 10px 6px;
                border-bottom: 1px solid rgba(119, 125, 133, 0.3);
    
               
            }
            .hovereffect{
                display: none;
               input{
                background-color: $whiteF2;
                text-align: center;
                padding: 5px;
               }
               p{
                font-size: 12px;
               } 
            }
            .product-detail-hover:hover .hovereffect{
                display: block;
            
            }
     
           
        
      
         
        .delivery-opt {
        
            .delivery-opt-input {
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba(119, 125, 133, 0.3);
                padding-bottom: 10px;
            }
        }
    }
   
    .product-detail {
        border-top: 1px solid rgba(119, 125, 133, 0.3);
        margin-top: 20px;
        position: relative;

        p {
            font-size: 18px;
            color: $darkblack;
        }

        .product-deatil-1 {
            border-bottom: 1px solid rgba(119, 125, 133, 0.3);
            width: 100%;
        }

        .Product-table {
            display: none;
            margin-top: 5px;
            width: 100%;

            tr {
                border: 1px solid $whiteF2;


                td {
                    border-right: 1px solid $whiteF2;
                    padding: 5px 274px 5px 10px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        .Metal-table {
            display: none;
            width: 100%;
            margin-top: 5px;

            tr {
                border: 1px solid $whiteF2;

                th {
                    font-size: 14px;
                    border-right: 1px solid $whiteF2;
                    padding: 5px 69px 5px 68px;
                    text-align: center;

                }

                td {
                    font-size: 14px;
                    border-right: 1px solid $whiteF2;
                    font-weight: 300;
                    text-align: center;
                    padding: 5px 69px 5px 68px;

                }
            }
        }

        .Price-table {
            display: none;
            margin-top: 5px;
            width: 100%;

            tr {
                border: 1px solid $whiteF2;


                td {
                    border-right: 1px solid $whiteF2;
                    padding: 5px 127px 5px 10px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
        .stone-table-hov{
            display: none;
            .stone-table{
                margin-top: 5px;
                width: 100%;
            
                    tr{
                        border: 1px solid $whiteF2;
                
                
                        td {
                            border-right: 1px solid $whiteF2;
                            padding: 5px 1px 5px 10px;
                            // width: 100%;
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                    
                tr:first-child{
                    td{
                        color: $darkblack;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
               
            }
        }
        


    }
    
    .product-deatil-1:hover .Product-table {
        display: block;
        width: 100%;
    }

    .product-deatil-1:hover .Metal-table {
        display: block;
        width: 100%;
    }

    .product-deatil-1:hover .Price-table {
        display: block;
        width: 100%;
    }
    .product-deatil-1:hover .stone-table-hov{
        display: block;
        width: 100%;
    }

    .product-detail-left {
        width: 20%;
        border: 1px solid rgba(119, 125, 133, 0.5);
        height: 75vh;

        .left-heading {
            background-color: rgba(112, 112, 112, 0.3);
            border-bottom: 1px solid rgba(119, 125, 133, 0.5);
            padding: 25px 20px;
            text-align: center;

            h3 {
                font-size: 16px;
                font-weight: 600;
                color: $darkblack;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: $darkblack;
            }
        }

        .product-scrolbar {
            overflow: auto;
            height: 60vh;
        }

        .product-detail-left-img {

            border-bottom: 1px solid rgba(119, 125, 133, 0.5);
            padding-bottom: 10px;

            span {
                color: $gold;
                font-size: 14px;
                margin-top: 0;
            }
        }

        .product-detail-left-img:last-child {
            border: none;
        }
    }

    .icons-detal div:nth-child(even){
        background-color: $whiteF3;
        padding: 32px 20px;

        P {
            font-size: 14px;
            color: $gray;
            text-align: center;
    
        }

    } 
    .icons-detal div:nth-child(odd){
        background-color: $whiteF9;
        padding: 32px 20px;

        P {
            font-size: 14px;
            color: $gray;
            text-align: center;
    
        }

    } 
    
    

}

@media (min-width: 768px) and (max-width: 1439px) {
    .product-detail{
        height: 180vh;
        overflow: none;
        .product-detail-right{
            width:90%;
            .prodtuct-detail-nav ul li{
                font-size: 14px;
            }
            span{
                font-size: 14px;
            }
            .product-detail-added {
                h1 {
                    font-size: 26px;
                }
            }
            .product-detail-para {
                p {
                    font-size: 14px;
                }
            } 
            .product-detail-price {
                h2 {
                    font-size: 20px;
                    
                }
                p {
                    font-size: 14px;
                }
            }  
            .product-detail-start-icon {
                span {
                    font-size: 14px;
                }
            } 
            .product-detail-hover {
                h3 {
                    font-size: 14px;
                }
              
            }
            .delivery-opt {
                h2{
                  font-size: 14px;
                }
                .input-date{
                    @include flex-col;
                    gap: 20px;
                    width: 62%;
                }
              .delivery-opt-input {
                display: flex;
                width: 81%;
                align-items: center;
                  border-bottom: 1px solid rgba(119, 125, 133, 1);
                  padding-bottom: 5px;
              }
              p{
                font-size: 14px;
              }
          }
        }
        // .product-detail-left{
        //     display: none;
        // }
    }
    
}