.other_metals {

    .title {
        background: transparent linear-gradient(93deg, #FCFCFC 0%, #F9F9F9 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    h2{
        font-size: 1.5rem/* 24px */;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
    }

    p{
        font-size: 1.125rem/* 18px */;
        font-weight: 300;
        margin-top: 28px;
    }
}