
.main-dashboard {
    padding: 30px;
    @include flex-col;
    box-shadow: 0px 3px 6px #0000000F;
  
    // width: 436px;

    &-content {
        @include flex-col;
        gap: 26px;

        .content-img {
            display: flex;
            gap: 31px;
            align-items: center;

            .content {
                @include flex-col;
                gap: 5px;

                p {
                    font-size: 16px;
                    color: $darkblack;

                    span {
                        color: $gray;
                    }
                }
            }
        }

        .main-other {
         

            p {
               font-size: 14px;
               color: $gray;
            }

            span {
               width: 120px;
               height: 6px;
               background-color: $whiteF9;
            }
        }
    }

    .dashboard-deatils {
        padding: 30px;
        height: 722px;
        .myDashboard {
            display: flex;
            gap: 25px;
            padding: 25px 0px;
            border-bottom: 1px solid rgba(112, 112, 112, 0.3);

            p{
                font-size: 18px;
                color: $darkblack;
            }
        }
        .myDashboard:last-child{
            border: 0;
        }

    }

}