.sidebar-icons{
    height: 150px;
    // width: 596px;
    background-color: #192537;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 31px;
    padding-right: 100px;
    gap: 60px;
    a{
        width: 26px;
        height: 25px;
    }
} 
