.alert {

    h2 {
        font-size: 1.125rem;
        font-weight: 700;
    }

    p {
        font-weight: 300;
        line-height: 1.75rem;
    }

    label {
        font-size: 0.875rem;
        margin-left: 1rem;
    }

    a {
        background: #192537 0% 0% no-repeat padding-box;
        border-radius: 2px;
        font-size: 1.125rem;
        color: white;
        opacity: 1;
    }
}