.booked_title {
    h2{
        font-size: 2.25rem;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
    }

    p{
        font-size: 1.125rem ;
        text-align: center;
    }
    a{
        font-size: 16px;
    }

}