.box {
    .title {

        h1 {
            font-size: 1.5rem;
            font-weight: 700;
            font-family: 'Playfair Display', serif;
        }

        p {
            font-size: 1.125rem;
            font-weight: 300;
            text-align: center;
        }
    }

    .mode_box {

        p {
            font-size: 1.25rem;
        }

        .mode {
            font-size: 1.125rem;

            label {
                padding-left: 10px;
            }
        }

    }
}