.contact_us {
    h2 {
        font-size: 1.25rem
            /* 20px */
        ;
        font-weight: 700;
    }

    p {
        font-size: 0.875rem
            /* 14px */
        ;
        color: #777D85;
    }
}